<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <nav>
      <a href="#" class="logo">Kevin Alexander Perez</a>

      <ul>
        <a href="#home">About Me</a>
       
      </ul>
    </nav>

    <!----- Home Section Starts ---->
    <section class="home" id="home">
      <div class="left">
        <h1>About me</h1>
        <p>
         <h2>
          Welcome to my website,Developer and Engineer with 3 yo, background,
         </h2>
           <h2>
            Focused on problem solving
           </h2>
           <br>
         <h4>
          Tech Stack :
         </h4> Skilled in Python (Programming Language), numpy , Pandas, <br> <br>
        <h4>
          Stats : 
        </h4>  R  Matplotlib <br>
          Agile Methodologies, <br>
<br>
<br>
        <h4>
          Dev and Cloud :
        </h4>   Google Analytics, Web Analytics, Angular, JavaScript, Node Js
        Spark PySpark - JR Skills
        Js and Python - Mid Skills
        Data Analytics - Mid Skills
        Google Tag Manager and Web Analytics - Senior Skills
         
        </p>
        <br>
        <p>
          <h1>
            My Education
          </h1> <br> <br>
          <h2>
            Fullstack Dev Bootcamp Kodemia
          </h2>
          <h2>
            Software Engineer Degree from UTEL University
          </h2>
          <h2>
            One year in Science UNAM
          </h2>
          <h2>
            Anahuac University Data Science Course
          </h2>
        </p>
        <a href="/home" class="btn">Return to Home</a>
      </div>
      <br>
        <img  src="../static/1630041185510.jpeg" alt="" style="margin-top:  20px;border-radius: 10px;" />
    
    </section>

    <div>
        
    </div>

    <!----- About Section Starts ---->


    <!----- Footer Section Starts ---->
    <footer>
  
    </footer>

    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">
</html>
